.cutoffparents {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    /* border: 1px solid #007bff;    */
     border-radius: 5px; 
    background-color: #f8f9fa;  
   }
.search1{
    width: 97%;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.table-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem); /* Creates two equal columns */
    column-gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    box-sizing: border-box;
    padding: 20px; /* Adjust padding for the boxes */
   
}

.table-header {
    background-color: #007bff;
    color: white;
}

.table-header th {
    padding: 10px;
    text-align: left;
}

.table-row {
    background-color: #f8f9fa;
}

.table-row:nth-child(even) {
    background-color: #e9ecef; }

.table-cell {
    padding: 10px;
    border: 1px solid #007bff; 
}

.table-cell h2 {
    color: #007bff;
}

h2 {
    color: #0056b3; 
}

.table {
    width: 100%;
    border-collapse: collapse; 
}

@media (max-width: 768px) {
    .cutoffparents {
        /* padding: 10px;  */
        border: none; /* Optionally remove border on mobile */
    }

    .table-container {
        width: 95%; /* Increase the width for mobile view */
        grid-template-columns: 1fr; /* Stack the boxes vertically */
        column-gap: 0; /* Remove gap between columns */
        border: none;
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .table-cell {
        font-size: 14px; /* Adjust font size for readability */
    }

    h2 {
        font-size: 18px; /* Adjust heading size for mobile */
    }
    /* .search1{
        width:90%;
    } */
}