


    :root {
        --rootbackgroundcolor:#f0f0f0 ;
        /* --rootsearchbarcolor: #008cff; 
        /* --rootsearchbarcolor: #26619c; 
        /* --rootheaderbarcolor: #84A4Fc; */
        --rootheaderbarcolor: #002366;
       --rootheaderhoveringeffort:#89cff0;
       --rootsearchbarcolor: #1560BD; 
       --rootallButtons:#1560BD;
    
    }